html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family:'Fontin', serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin-top: auto;
  background:#fff;
  color: #888;
  font: 300 16px/22px "Abril Fatface","Lato", "Open Sans", "Helvetica Neue", "Roboto","Ubuntu","Lora", Helvetica, Arial, sans-serif;
}

h1,h2,h3, h4 {
  color: black;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2{
    font-size: 29px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5{
    font-weight: 200;
    color: black;
}
h6{
    font-size: 20px;
    color:black;
}
p{
    color:black;
}
.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}
h1, h3, h4,, p {
  margin-bottom: 22px;
}
header{
    background: #fff;
}
.row {
  min-width: 960px;
  background: #fff;
  padding: 66px 0 44px 0;
}
table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 20%;
}
thead {
  line-height: 44px;
}
tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  padding-top: 21px;
}
tbody tr.bottomBorder {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}